@model PierresTreats.Models.Treat

<h2>Edit</h2>
<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatID)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Flavors)
    @Html.DropDownList("FlavorID")

    <input type="submit" value="Save" />
}